<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Delta</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{range .metrics}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.MType}}</td>
            <td>{{if .Delta}}{{.Delta}}{{else}}N/A{{end}}</td>
            <td>{{if .Value}}{{.Value}}{{else}}N/A{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>